# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [5]:
import pandas as pd
import numpy as np
dados = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
SemIndices = pd.Series(data=dados)
SemIndices

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [6]:
indice = list(range(1900,2021,20))
ComIndices = pd.Series(data=dados, index=indice)
ComIndices

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [7]:
dic_temperaturas = {'1900': -.08, '1920': -.27, '1940': .12, '1960': -.03, '1980': .26, '2000': .40, '2020': 1.02}

TempGlobalSeries = pd.Series(dic_temperaturas)
TempGlobalSeries

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [8]:
arr = np.random.normal(100, 10, (20,3))

pd.DataFrame(arr)
arr

array([[101.23248255,  96.26911086, 101.80497316],
       [102.27680741,  95.38192586, 105.15624852],
       [110.71614124,  96.63321218, 110.89623479],
       [107.07040591, 115.85007847, 107.92653665],
       [115.5548489 ,  91.25767422, 116.3049572 ],
       [108.09448655,  86.69078416, 111.7980355 ],
       [ 91.64949278,  89.85856869, 102.19882538],
       [ 96.83745622,  85.62252594,  96.52257248],
       [103.46368186,  95.77765223, 104.0536841 ],
       [ 91.79316096,  96.5947712 , 109.08405333],
       [113.2129879 ,  99.26538279, 122.34009534],
       [ 90.20800172,  93.18749522,  99.74604627],
       [103.44978868,  96.81723347, 104.35021948],
       [102.29099566, 108.16297299,  94.43769074],
       [110.02417202, 116.75318504,  95.58125227],
       [ 91.50153918,  92.83116409, 114.06310564],
       [ 94.86345589, 116.48032666, 112.77527809],
       [104.80072991,  80.11877895,  94.84680633],
       [110.85987733,  99.7384215 ,  95.69807863],
       [123.4132875 ,  91.82307704,  95.64899867]])

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [23]:
arr=pd.DataFrame(arr,columns = ['x1','x2','x3'], index = range(1,21,1))
arr

            x1          x2          x3
1   101.232483   96.269111  101.804973
2   102.276807   95.381926  105.156249
3   110.716141   96.633212  110.896235
4   107.070406  115.850078  107.926537
5   115.554849   91.257674  116.304957
6   108.094487   86.690784  111.798036
7    91.649493   89.858569  102.198825
8    96.837456   85.622526   96.522572
9   103.463682   95.777652  104.053684
10   91.793161   96.594771  109.084053
11  113.212988   99.265383  122.340095
12   90.208002   93.187495   99.746046
13  103.449789   96.817233  104.350219
14  102.290996  108.162973   94.437691
15  110.024172  116.753185   95.581252
16   91.501539   92.831164  114.063106
17   94.863456  116.480327  112.775278
18  104.800730   80.118779   94.846806
19  110.859877   99.738421   95.698079
20  123.413287   91.823077   95.648999

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [27]:
arr['media'] = np.mean(arr,axis=1)
arr

            x1          x2          x3       media
1   101.232483   96.269111  101.804973   99.768856
2   102.276807   95.381926  105.156249  100.938327
3   110.716141   96.633212  110.896235  106.081863
4   107.070406  115.850078  107.926537  110.282340
5   115.554849   91.257674  116.304957  107.705827
6   108.094487   86.690784  111.798036  102.194435
7    91.649493   89.858569  102.198825   94.568962
8    96.837456   85.622526   96.522572   92.994185
9   103.463682   95.777652  104.053684  101.098339
10   91.793161   96.594771  109.084053   99.157328
11  113.212988   99.265383  122.340095  111.606155
12   90.208002   93.187495   99.746046   94.380514
13  103.449789   96.817233  104.350219  101.539081
14  102.290996  108.162973   94.437691  101.630553
15  110.024172  116.753185   95.581252  107.452870
16   91.501539   92.831164  114.063106   99.465270
17   94.863456  116.480327  112.775278  108.039687
18  104.800730   80.118779   94.846806   93.255438
19  110.859877   99.738421   95.698079  102.098792
20  123.413287   91.823077   95.648999  103.628454

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [29]:
arr['log_med'] = np.log(arr['media'])
arr

            x1          x2          x3       media   log_med
1   101.232483   96.269111  101.804973   99.768856  4.602856
2   102.276807   95.381926  105.156249  100.938327  4.614510
3   110.716141   96.633212  110.896235  106.081863  4.664211
4   107.070406  115.850078  107.926537  110.282340  4.703044
5   115.554849   91.257674  116.304957  107.705827  4.679404
6   108.094487   86.690784  111.798036  102.194435  4.626877
7    91.649493   89.858569  102.198825   94.568962  4.549329
8    96.837456   85.622526   96.522572   92.994185  4.532537
9   103.463682   95.777652  104.053684  101.098339  4.616094
10   91.793161   96.594771  109.084053   99.157328  4.596708
11  113.212988   99.265383  122.340095  111.606155  4.714976
12   90.208002   93.187495   99.746046   94.380514  4.547335
13  103.449789   96.817233  104.350219  101.539081  4.620444
14  102.290996  108.162973   94.437691  101.630553  4.621344
15  110.024172  116.753185   95.581252  107.452870  4.677052
16   91.501539   92.831164  114.063106   99.465270  4.599809
17   94.863456  116.480327  112.775278  108.039687  4.682499
18  104.800730   80.118779   94.846806   93.255438  4.535342
19  110.859877   99.738421   95.698079  102.098792  4.625941
20  123.413287   91.823077   95.648999  103.628454  4.640812